<!DOCTYPE html>
<html xmlns="http://www.w3.org.1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Spring Boot Web App</h1>
		<hr />
		<table>
			<thead>
				<tr>
					<th>Chasis</th>
					<th>Model</th>
					<th>Brand</th>
					<th>Color</th>
					<th>Price</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="car:${allCarsInfo}">
					<td th:text="${car.chasis}">Chasis</td>
					<td th:text="${car.model}">Model</td>
					<td th:text="${car.brand}">Brand</td>
					<td th:text="${car.color}">Color</td>
					<td th:text="${car.price}">Price</td>
					
				</tr>
			</tbody>
		</table>
	
	</body>
</html>